body {
  background-color: #23252c;
}

.card-container {
  margin: auto;
  margin-top: 40px;
  width: 30%;
  padding: 0px;
  border: 1px solid #23252c;
  border-radius: 10px;
  background-color: #1a1b21;
}

.card-image {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.card-general-info {
  text-align: center;
}

.card-general-info h1 {
  color: #ffff;
}

.card-general-info .job {
  color: #f3bf99;
}

.card-general-info .web {
  color: #f5f5f5;
}

.email {
  border-radius: 6px;
  background-color: #fff;
  border: 1px solid #d1d5db;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

.email-text,
.linkedin-text {
  padding-left: 5px;
}
.linkedin {
  background: #5093e2;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
  border-radius: 6px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 30%;
}

.card-contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 9px 13px 9px 11px;
  gap: 8px;
}

.card-details {
  padding: 20px;
}

.card-details h2 {
  color: #f5f5f5;
  font-size: 16px;
}

.card-details p {
  color: #dcdcdc;
  font-weight: 400;
  font-size: 13px;
  line-height: 20px;
  padding-bottom: 10px;
}

.card-social-media {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  color: #918e9b;
  background-color: #161619;
  border-radius: 0 0 10px 10px;
}

.twitter,
.insta,
.fb,
.git,
.email,
.linkedin {
  padding: 10px;
}

@media screen and (max-width: 1000px) {
  .card-container {
    width: 40%;
  }
}

@media screen and (max-width: 740px) {
  .card-container {
    width: 50%;
  }
}

@media screen and (max-width: 540px) {
  .card-container {
    width: 70%;
  }
}

@media screen and (max-width: 380px) {
  .card-container {
    width: 90%;
  }
}
